 .tes {
  background-color: rgb(63, 63, 63);
  background-image: url(background\ web.png);
}

.welcome {
  font-family: arial;
  font-size: 40px;
  color: white;
  height: 65px;
  background-image: linear-gradient(to right, grey, red, grey);
  text-decoration-line: none;
  transition: 0.50s;
}

.welcome:hover {
  background-image: 
  linear-gradient(to right, rgb(187, 187, 187), rgb(255, 116, 116));
}

.main-div {
  display: flex;
}

.sub-main-deev, .sub-main-div {
  text-align: center;
  text-decoration-line: none;
  color: white;
  font-size: 20px;
  font-family: arial;
  background-image: linear-gradient(to right, grey, red);
  border: none;
  width: 200px;
  height: 30px;
  transition: 0.50s;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-main-deev:hover, .sub-main-div:hover {
  background-image: 
  linear-gradient(to right, rgb(187, 187, 187), rgb(255, 116, 116));
}

.a-b-two, .master {
  color: white;
  text-decoration-line: none;
  width: 190px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.50s;
  margin-right: 30px;
}

.font1 {
  color: white;
  text-decoration-line: none;
  width: 3000px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.50s;
}

.font1:hover {
  background-image: linear-gradient(to right, rgb(187, 187, 187), rgb(255, 116, 116));
}

.d-a-p {
  vertical-align: middle;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}



.p-s-o-y {
  color: white;
  font-family: arial;
  font-size: 40px;
  margin-top: 100px;
}

.Abdullah-pfp {
  width: 160px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
}


